/* Gallery Section */

#background-image {
    background: url(assets/images/background-image.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 250px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    grid-template-areas: "header header";

}

.grid-item-7 {
    grid-area: header;
}


#photos img {
    width: 100%;
    line-height: 1em;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    border: 1px solid white;
}

#photos {
    line-height: 1em;
}
