/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
    font-size: calc(0.75em + 1vmin);
  }
    h1 #title {
      font-weight: 200;
      text-align: center;
      margin-bottom: 10px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: #252525;
      
    }

    p {
      color: #404F5E;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }


  i {
    color: #d56326;
    font-size: 100px;
    line-height: 200px;
    margin-top: 50px;
    margin-left: 30px;
    align-items: ;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 130px auto;
    width: 30%;
    padding-top: ;
    box-sizing: content-box;
  }

  header {
    margin-top: -40px;

  }

  @media screen and (min-width: 270px) {
    font-size: calc(0.55em + 1vmin);
  }
