/* Newsletter */
form {
    
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .container p {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    
  }

  .container h2 {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit], input[type=email] {
    width: 50%;
    padding: 20px;
    margin: 30px;
    display: flex;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
  }
  
    
  /* Style the submit button */
  input[type=submit] {
    background-color: #181818;
    color: white;
    border: none;
    font-size: 1em;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  main .container {

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    width: 100%;   
  }

  @media screen and (min-width: 568px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

     /* Push main content down to accomodate larger header */
     main { 
        margin-top: 79px;  
        
       }
       
       #photos {
        column-count: 3;
        column-gap: 0;
    }
}