/* Sign Up */

#signUpForm {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: 100%;
}

#memberform {
    display: flex;
    height: 100hv;
    align-items: center;
    justify-content: center;
   
    
}

form {
    margin-top: 50px;
    text-align: center;
}

input {
    display: flex;
    width:80%;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid black;
    background: transparent;
}

button {
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(38, 37, 37);
    border: none;
    color: #fcfcfc;
    margin-top: 20px;
}

form h1 {
    margin-bottom: 30px;
    color: #252525;
}

::placeholder {
    color: rgba(5, 5, 5, 0.778);
    opacity: 0.6;
   }

/* The alert message box */
.alert {
    padding: 20px;
    background-color: rgb(4, 4, 4); /* Black */
    color: rgb(249, 247, 247);
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: rgb(251, 248, 248);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    block-size: 50%;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: rgb(251, 248, 248);
  }

  

main {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
